<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Paradocs: Paragraph-Oriented Document Presentation System</title>
    <meta name="description" content="Presentation Toolkit for Reading Class">
    <meta name="author" content="Yoichiro Hasebe">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="shortcut icon" href="<%= PREFIX %>ico/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= PREFIX %>/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= PREFIX %>/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= PREFIX %>/ico/favicon-16x16.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js@5.2.1/dist/reveal.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-ui@1.14.1/dist/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js@5.2.1/dist/theme/simple.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tippy.js@6.3.7/dist/tippy.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tippy.js@6.3.7/themes/light-border.css" />

    <%= @css %>
  </head>
  <body>
    <div class="reveal <%= @if_inverted %>">
      <div id="highlighted_cursor"></div>
      <div class="slides">
        <%= @slides %>
      </div>
    </div>
    <div class='additional'>
      <div class='gadgets' id='gadgets'>
        <div class='sticky' data-prevent-swipe>
          <div class='edit_control'><i class='fa-solid fa-pencil'></i><i class='fa-solid fa-eraser'></i><i class='fa-solid fa-xmark'></i></div>
          <textarea  class='sticky_editor' spellcheck='false'></textarea>
        </div>
        <div class='note' data-prevent-swipe></div>
        <div class='imagenote' data-prevent-swipe data-enlarged='false'>
          <div class='enlarge'><span class='fa-solid fa-plus'></span></div>
        </div>
      </div>
      <div class='switches'>
        <div id='left_switches'>
          <span class='left_switch'><span class='fa-regular fa-note-sticky' id='sticky_icon'></span></span>
          <span class='left_switch'><span class='fa-solid fa-circle' id='pointer_icon'></span></span>
          <span class='left_switch'><span class='fa-solid fa-wand-magic-sparkles' id='playall_icon'></span></span>
          <span class='left_switch'><span class='fa-solid fa-volume-high' id='speaker_icon'></span></span>
        </div>
        <div id='right_switches'>
          <span class='fa-solid fa-arrows-up-down' id='overview_icon'></span>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-ui@1.14.1/dist/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/reveal.js@5.2.1/dist/reveal.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>

    <script>
      var pconf;
      jQuery(function($){

        var ua = navigator.userAgent.toLowerCase();
        var isMobile = false;
        var isiPhone = (ua.indexOf('iphone') > -1);
        var isiPad = (ua.indexOf('ipad') > -1);
        var isAndroid = (ua.indexOf('android') > -1) && (ua.indexOf('mobile') > -1);
        var isAndroidTablet = (ua.indexOf('android') > -1) && (ua.indexOf('mobile') == -1);
        if(isiPhone || isiPad || isAndroid || isAndroidTablet){
          var punch_url = "https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js";
          var punch_script = document.createElement("script");
          punch_script.src = punch_url;
          document.body.appendChild(punch_script);
        }

        pconf = JSON.parse('<%= @config.gsub("'", "\\\\'").gsub("</", "<\\/") %>');
      });
    </script>

    <script src="<%= PREFIX %>js/paradocs.<%= PARA_VERSION %>.min.js"></script>
  </body>
</html>
