<form role="form" action='<%= PREFIX %>deck', method = 'POST', enctype = 'multipart/form-data' target="new">

  <div id='data_controller'>
    <div class='md'>
      <h2><%= @keywords["use"] %></h2>

    </div>
    <div>
      <span class='form-label' style='width:100%'><%= @keywords["input"] %></span>
    </div>

    <div id='input-textarea' class="ui-widget-content" style='height:480px; border:solid 1px lightgray;'><%= @sample_text %></div>
    <div class='text-right'>
      <sub>
        <%= @keywords["textarea"] %>
      </sub>
    </div>
  </div>

  <div style='margin-bottom:20px; '><span class='text-warning' id='textarea_message'></span></div>


  <div style='margin-bottom: 1em;'>
    <span id='submit_button' class="file_reset btn btn-primary"><%= @keywords["convert"] %></span>&nbsp;
    <span id='reset_button' class="file_reset btn btn-light"><%= @keywords["clear"] %></span>
  </div>

  <div id='lang_controller' style='display: none;'  >
    <span class='form-label'><%= @keywords["speech_language"] %></span>
    <select class="form-control inline-form" id='lang_selected' name='speech_lang'></select>
  </div>

  <div class="form-group row" style='margin:0;'>
    <div id='voice_controller' style='display: none;' >
      <span class='form-label'><%= @keywords["speech_voice"] %></span>
      <select class="form-control inline-form" id='voice_selected' name='speech_voice' style='max-width: 100%;'></select>
    </div>
    <div id='rate_controller' style='display: none; margin-left:10px;' >
      <span class='form-label'><%= @keywords["speech_rate"] %></span>
      <select class="form-control inline-form" id='rate_selected' name='speech_rate'></select>
      <span class='text-warning' id='rate_disabled_message'>Rate is not changeable for the voice currently selected.</span>
    </div>
  </div>

  <div id='resolution_controller'>
    <span class='form-label'><%= @keywords["resolution"] %></span>
    <select class="form-control inline-form" id='resolution_selected' name='resolution'>
      <option value="800x600">SVGA (800x600)</option>
      <option value="1280x800" selected='selected'>WXGA (1280x800)</option>
      <option value="1920x1080">Full-HD (1920x1080)</option>
    </select>
  </div>

  <div id='fontfamily_controller'>
    <span class='form-label'><%= @keywords["fontfamily"] %></span>
    <select class="form-control inline-form" id='font_family_selected' name='font_family'>
      <option value="sans" selected='selected'>Sans Serif</option>
      <option value="serif">Serif</option>
      <option value="fun">Fun</option>
    </select>
  </div>

  <div id='font_controller'>
    <span class='form-label'><%= @keywords["fontsize"] %></span>
    <select class="form-control inline-form" id='font_size_selected' name='font_size'>
      <option value="80">Huge</option>
      <option value="70">XLarge</option>
      <option value="60">Larger</option>
      <option value="50">Large</option>
      <option value="40" selected='selected'>Medium</option>
      <option value="30">Small</option>
      <option value="20">Smaller</option>
      <option value="10">Tiny</option>
    </select>
  </div>

  <div id='wallpaper_controller'>
    <span class='form-label'><%= @keywords["wallpaper"] %></span>
    <select class="form-control inline-form" id='wallpaper_selected' name='wallpaper'>
      <option value="sandpaper.png" selected='selected'>sandpaper</option>
      <option value="project-paper.png">project-paper</option>
      <option value="bedge-grunge.png">bedge-grunge</option>
      <option value="absurdity.png">absurdity</option>
      <option value="fabric-plaid.png">fabric-plaid</option>
      <option value="bright-squares.png">bright-squares</option>
      <option value="inspiration-geometry.png">inspiration-geometry</option>
      <option value="gray-floral.png">gray-floral</option>
      <option value="gplay.png">gplay</option>
      <option value="food.png">food</option>
      <option value="arches.png">arches</option>
      <option value="none">none</option>
    </select>
  </div>


  <div id='accent_color_controller'>
    <span class='form-label'><%= @keywords["accent_color"] %></span>
    <select class="form-control inline-form" id='accent_color_selected' name='accent_color'>
      <option value="#e15759" selected='selected'><span class='color: #e15759;'>Red</span></option>
      <option value="#4e79a7"><span class='color: #4e79a7;'>Blue</span></option>
      <option value="#edc948"><span class='color: #edc948;'>Yellow</span></option>
      <option value="#59a14f"><span class='color: #59a14f;'>Green</span></option>
      <option value="#b07aa1"><span class='color: #b07aa1;'>Purple</span></option>
      <option value="#ff9da7"><span class='color: #ff9da7;'>Pink</span></option>
      <option value="#76b7b2"><span class='color: #76b7b2;'>Cyan</span></option>
      <option value="#9c755f"><span class='color: #9c755f;'>Brown</span></option>
      <option value="#464646"><span class='color: #464646;'>Gray</span></option>
    </select>
    <span id='accent_color_sample' style='margin-left:10px; display:inline-block; line-height:1.5em; padding:2px; font-weight:bold; color: #e15759; text-shadow:-1px 1px 2px rgba(0,0,0,0.25);'>Accent Color</span>
  </div>

  <div id='highlight_background_color_controller'>
    <span class='form-label'><%= @keywords["highlight_background_color"] %></span>
    <select class="form-control inline-form" id='highlight_background_color_selected' name='highlight_background_color'>
      <option value="#e15759"><span class='color: #e15759;'>Red</span></option>
      <option value="#4e79a7" selected='selected'><span class='color: #4e79a7;'>Blue</span></option>
      <option value="#edc948"><span class='color: #edc948;'>Yellow</span></option>
      <option value="#59a14f"><span class='color: #59a14f;'>Green</span></option>
      <option value="#b07aa1"><span class='color: #b07aa1;'>Purple</span></option>
      <option value="#ff9da7"><span class='color: #ff9da7;'>Pink</span></option>
      <option value="#76b7b2"><span class='color: #76b7b2;'>Cyan</span></option>
      <option value="#9c755f"><span class='color: #9c755f;'>Brown</span></option>
      <option value="#464646"><span class='color: #464646;'>Black</span></option>
    </select>
    <span id='highlight_background_color_sample' style='margin-left:10px; display:inline-block; line-height:1.5em; padding:2px; color:#4e79a7; text-shadow:-1px 1px 2px rgba(0,0,0,0.25);'>Highlight Color</span>
  </div>

  <div id="text_background_controller" >
    <span class='form-label'><%= @keywords["invert"] %></span>
    <input id="text_background" type="checkbox" name="text_background" value="text_background"></input>
  </div>

</form>
<div class="alert alert-warning"></div>
